#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  display: inline
}

.logo {
  height: 70px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;

}

.read-the-docs {
  color: #888;
}
.logo-img {
  width: 60px; 
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}
.nav-item img {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: 10px;
  filter: invert(100%);
  margin-right: 10px;
  margin-top: 10px;
}
.cartIcon {
  position: relative; 
  width: 20px; 
  height: 20px; 
  display: inline-block;
  filter: invert(1); 
}

.numeroCart {
  position: absolute;
  top: 25px;
  right: -10px;
  z-index: 10; 
  width: 10px; 
  height: 10px; 
}
.navbar {
  width: 100%;
}

.navbar-brand{
  margin: none;
}

.app-container {
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}
/* contacto */


.container-contacto_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.form-control {
  border: 2px solid black;
}
.contacto_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  margin-top: 60px
}

.bigicon {
  font-size: 20px;
  padding: 10px;
  color: rgb(198, 41, 41);
  align-items: center;
}

.btn-primary {
  font-size: 24px;
  color: rgb(255, 255, 255);
  background-color: rgb(198, 41, 41);
  opacity: 90%;
  border-color: #000000;
  border: solid 2px rgb(33, 37, 41);
  margin: 15px;
}

.btn-primary:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 37, 41);
  border: solid 2px rgb(198, 41, 41);
}

.form-horizontal {
  
  margin-top: 50PX;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.input-container {
  width: 100%;
  max-width: 400px; 
  margin: 0 auto;
  flex-direction: row;
  display: flex;
}

.error-message {
  color: red;
  font-size: 14px;
}

@media (max-width: 768px) {
  .btn-primary {
    font-size: 20px;
  }
}

button.cartButton {
  background-color: #0C4070;
  color: white;
  border: none;
  display: flex; 
  align-items: center; 
}

.cartIcon {
  width: 30px;
  height: 30px;
}

.nav-item {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.PDescription {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 20px; 
}

.imgProductos {
  border: solid 2px #99A6F2;
  background-color: rgb(247, 247, 247);
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.imgProductos:hover {
  transform: scale(1.1);
}

.h2Products {
  margin-top: 50px;
} 

.productos-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  gap: 20px; 
}

.productos-card {
  width: 250px; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #f0f0f0;
  display: flex;
  
}
/* Estilos para el componente ItemDetailContainer */

.item-detail-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px; /* Margen superior ajustado */
}

.h2Products {
  margin-top: 20px; /* Espacio arriba del título */
}

.PDescription {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.quantity-button {
  background-color: #0C4070;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.quantity {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.cartButton {
  background-color: #0C4070;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 20px auto 30px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cartItemCount{
  color: red;
  transform: translateX(-15px);
  transform: translateY(8px);
  font-weight: bold;
}